/********** Template CSS **********/
.bg-light {
    background-color: #f8f9fa;
}
/* About start */
.subscription-banner-about {
    background-color: #112e51; /* Deep purple background */
    color: white;
    padding: 45px;
    border-radius: 20px; /* Rounded corners */
}




/* About end */
.d-flex2{
   margin-left: 48%;
}

@media (max-width: 768px) {
 .d-flex2{
    margin-left: 29%;
 }
}
.btn-custom {
    position: relative; /* Needed for absolute positioning of the pseudo-element */
    width: 100%; /* Full width buttons */
    color: #6c757d; /* Grey text */
    background-color: #ffffff; /* White background */
    border-radius: 12px; /* Rounded edges for the button */
    text-align: left; /* Align text to the left */
    padding: 22px 25px; /* Padding for larger click area */
    margin-bottom: 33px; /* Margin bottom for spacing */
    overflow: hidden; /* Ensures no overflow of pseudo-elements */
    box-shadow: 0 4px 8px rgba(65, 65, 65, 0.1);
}
.btn-custom::before {
    content: ''; /* Required for pseudo-elements */
    position: absolute;
    left: 0;
    top: 0;
    width: 7px; /* Width of the colored part */
    height: 100%; /* Full height of the button */
    background-color: #50029e; /* Example purple color, change as needed */
    border-radius: 18px 0 0 18px; /* Rounded left side to match button border */
}
.btn-custom:hover {
    background-color: #e9ecef; /* Light grey background on hover */
}

.subscription-banner {
    background-color: #4B0082; /* Deep purple background */
    color: white;
    padding: 45px;
    border-radius: 8px; /* Rounded corners */
}
.subscription-form {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spacing between text and form elements */
}
.subscription-form input[type="email"] {
    border: 1px solid #fdfdfd; /* Yellow border */
    background-color: transparent;
    color: white;
    padding: 8px;
    width: 40%; /* Width of the input field */
    border-radius: 5px;
    margin-left: 122px;
}
.subscription-form button {
    background-color: #FFD700; /* Yellow background */
    border: none;
    padding: 8px 16px;
    color: #4B0082; /* Text color */
    cursor: pointer; /* Cursor indicates clickable */
    border-radius: 10px;
}
/* Ensuring the button stays at the right and elements stack vertically on smaller screens */
@media (max-width: 768px) {
    .subscription-form {
        flex-direction: column;
        align-items: stretch;
    }
    .subscription-form input[type="email"] {
        margin-bottom: 10px; /* Space between input and button on small screens */
        width: 100%; /* Full width */
        margin-left: 0px;
    }
    .subscription-form button {
        width: 50%;
    }
}
.navbar-custom {
    background-color: #fff;
    border-bottom: 2px solid #E0E0E0;
}
.navbar-custom .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 85%;
}
.navbar-custom .nav-link {
    color: #333;
    text-align: center;
}
.navbar-custom .nav-link:hover {
    color: #000;
    background-color: #6C757D;
    border-radius: 5px;
}
.nav-item {
    position: relative;
    padding-right: 15px;
}
.nav-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 50px;
    background-color: #E0E0E0;
}
.header-section {
    background-color: #4B0082;
    color: #fff;
    padding: 160px 0;
}
.header-section .btn-custom {
    background-color: #ADFF2F;
    color: #000;
    border: none;
}
.statistics-section {
    background-color: #ffffff;
    padding: 20px 0;
}
.statistics-section h3 {
    color: #4B0082;
}
.statistics-section .col-md-3 h4 {
    color: #4B0082;
}
.statistics-section .col-md-3 p {
    color: #6C757D;
}

@media (max-width: 768px) {
    #img-fluid {
        width: 150%; /* Adjust as needed for smaller screens */
    }
}
@media (max-width: 576px) {
    #img-fluid{
        width: 120%; /* Adjust as needed for extra small screens */
    }
}
.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.news-title {
    background-color: #f4f7fe; /* Light gray background */
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 0;
}
.text-muted {
    color: #6C757D;
}

.card-custom {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
}
.card-custom img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-body-custom {
    padding: 15px;
    flex: 1;
}
.card-title {
    font-weight: bold;
}
.card-text {
    color: #6C757D;
}
.row-equal {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-equal {
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px; /* Adds spacing between cards on smaller screens */
}
hr.custom-hr {
    width: 61%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the hr line */
    border: 0px solid #2f005f; /* Adjust the border style as needed */
    margin-top: 30px;
}
.newsletter-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}
.newsletter-text {
    color: white;
}
.newsletter-input {
    flex-grow: 5;
}
.date
{
    margin-top: 10px;
    color: white;
}
hr{
    margin: 0px;
    color: #2f005f;
    border: solid 0px #2f005f;
}


:root {
    --primary: #1363C6;
    --secondary: #15ACE1;
    --light: #F4F7FE;
    --dark: #14183E;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}
#navbar-header{
    padding: 11px 0 !important;
    height: 48px;
}
.navbar {
    padding: 11px 0 !important;
    height: 95px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 0;
    color: rgba(32, 32, 32, 0.7);
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 0 15px;
        background: var(--primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}

@media (max-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Hero Header ***/
.hero-header {
    margin-top: -75px;
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: rgba(33, 66, 177, .5);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}


/*** About ***/
.about-img {
    position: relative;
    overflow: hidden;
}

.about-img::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: contain;
}


/*** Service ***/
.service-item3 {
    position: relative;
    padding: 45px 30px;
    transition: .5s;
}

.service-item {
    position: relative;
    padding: 45px 30px;
    background: #FFFFFF;
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    color: var(--primary);
    background: var(--light);
    transition: .5s;
}

.service-item:hover .service-icon {
    background: #FFFFFF;
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--primary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: var(--light);
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}


/*** Feature ***/
.feature {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}


/*** Newsletter ***/
.newsletter {
    background: url(../img/bg-hero.png) center center no-repeat;
    background-size: cover;
}

@media (min-width: 992px) {
    .newsletter .container {
        max-width: 100% !important;
    }

    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .newsletter .newsletter-text  {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/*** Case Study ***/
.case-item img {
    transition: .5s;
}
  
.case-item:hover img {
    transform: scale(1.2);
}
  
.case-overlay {
    position: absolute;
    padding: 30px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(rgba(20, 24, 62, 0), var(--dark));
    z-index: 1;
}

.case-overlay small {
    display: inline-block;
    padding: 3px 15px;
    color: #FFFFFF;
    background: rgba(20, 24, 62, .7);
    border-radius: 25px;
    margin-bottom: 15px;
}

.case-overlay span.btn:hover {
    color: var(--primary);
    background: #FFFFFF;
    border-color: #FFFFFF;
}


/*** FAQs ***/
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}

.accordion .accordion-button {
    background: var(--light);
    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px 0 0 0;
}


/*** Testimonial ***/
.testimonial-carousel {
    position: relative;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 40px;
    height: 100%;
    top: calc(50% - 50px);
    left: -21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 5px 0;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 40px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    color: #FFFFFF;
}

.testimonial-carousel .owl-dots {
    margin-top: 35px;
    margin-left: 3rem;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    border: 1px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}


/*** Team ***/
.team-item {
    transition: .5s;
    border: 1px solid transparent;
    transition: .5s;
}

.team-item:hover {

    border-color: var(--primary);
}


/*** Footer ***/
.footer {
    background: url(../img/footer.png) center center no-repeat;
    background-size: contain;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}
.footer .copyright2 {
    padding: 25px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(256, 256, 256, .1);
}.footer .copyright2 {
    padding: 25px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright2 a {
    color: rgba(255,255,255,.5);
}

.footer .copyright2 a:hover {
    color: #FFFFFF;
}
.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}